@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banco Central</title>
  </head>

  <body>
    <h1>Banco Central</h1>

    <p>
      Aqui se encontra a aplicação do Banco Central. Ela funciona com um
      servidor de nomes para possibilitar as transações entre os banco genéricos (Itaú, Santander, Bradesco etc).
    </p>

    <p>
      Obtenha a lista de bancos cadastrados em formato JSON clicando no link abaixo.
    </p>

    <ul>
      <li><a href="/v1/bancos">/v1/bancos</a></li>
    </ul>
  </body>
</html>
